[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Kiwi"]
	path = Kiwi
	url = git://github.com/allending/Kiwi.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
